.filter {
  padding-top: 78px;
  max-width: 340px;

  @include tablet {
    display: none;
    position: absolute;
    background-color: $color-secondary;
    top: 0;
    right: 0;
    z-index: 555;
    padding: 14px 20px 26px;

    &_show {
      display: block;
    }
  }
  &__form {
    position: relative;
  }
  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;

    @include tablet {
      display: flex;
      font-size: 22px;
      line-height: 27px;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;

      &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("img/arrow-down.svg");
        transform: rotate(180deg);
      }
    }
  }
  &__fields-list {
    margin-bottom: 40px;
  }
  &__field {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__field-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__flex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    &_column {
      flex-direction: column;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__label_select {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 33px;
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(45deg);
      display: block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent $color-primary $color-primary transparent;
    }
  }
  &__input {
    width: 165px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $color-primary;

    @include laptop {
      width: 145px;
    }
    &_select {
      width: 100%;
      color: $color-grey;
      appearance: none;
    }

    &::placeholder {
      color: $color-grey;
    }
  }

  &__checkbox {
    margin-right: 10px;
  }
  &__apply {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-secondary;
    background-color: $color-primary;
    padding: 8px 20px;
    border: none;
    transition: background-color 0.36s ease-in-out;

    &:focus {
      background-color: $color-main-sub;
    }
    &:hover {
      background-color: $color-main;
    }

    @include tablet {
      margin-bottom: 15px;
    }
  }
  &__reset {
    position: absolute;
    top: 5px;
    right: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-grey;
    border-color: transparent;
    border: none;

    @include tablet {
      position: static;
      display: block;
      margin: 0 auto;
    }
  }
}
